/* Styling for the main container that contains the entire application */
.Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  background-color: #f8fbff; /* Background color for the container */
}


/* Content row for AddMovie and MovieRatings */
.content-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1; /* Takes remaining space */
}


/* Styling for the header in the application */
.HeaderText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid black;
  height: 60px;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5%;
  background-color: #61a4ad;
  color: white;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}